@page "{id:int}"
@using System.Collections.Immutable
@using Web.Models
@model Web.Pages.Polls.Details

@{
    ViewData["Title"] = "Poll Details";

    #region Channels
    
    var channelTotals = Model.Results
        .Select(pair => (Channel: pair.Key, Votes: pair.Value.Results.Sum(r => r.Votes)))
        .OrderByDescending(tuple => tuple.Votes)
        .ToImmutableArray();
    
    string topChannelString;
    string topChannelSuffix;

    var firstChannel = channelTotals[0];
    if (firstChannel.Votes != channelTotals[1].Votes)
    {
        topChannelString = firstChannel.Channel;
        topChannelSuffix = "was the most active channel.";
    }
    else
    {
        var topChannels = channelTotals
            .Where(c => c.Votes == channelTotals[0].Votes)
            .Select(c => c.Channel).ToList();
        topChannelString = $"{string.Join(", ", topChannels.Take(0..^1))} and {topChannels.ElementAt(^1)}";
        topChannelSuffix = "were the most active channels.";
    }
    
    #endregion

    #region Options

    var optionTotalsDict = new Dictionary<int, int>();
    foreach (var (optionId, votes) in Model.Results.SelectMany(channel => channel.Value.Results))
    {
        if (optionTotalsDict.ContainsKey(optionId))
            optionTotalsDict[optionId] += votes;
        else
            optionTotalsDict[optionId] = votes;
    }

    var optionTotals = optionTotalsDict
        .Select(pair => (Option: Model.Poll.Options.Single(o => o.Id == pair.Key).Text, Votes: pair.Value))
        .ToList();

    var orderedOptionTotals = optionTotals
        .OrderByDescending(tuple => tuple.Votes)
        .ToImmutableArray();

    var totalVotes = channelTotals.Sum(ct => ct.Votes);

    string topOptionString;
    string topOptionSuffix;

    var firstOption = orderedOptionTotals[0];
    if (firstOption.Votes != orderedOptionTotals[1].Votes)
    {
        topOptionString = firstOption.Option;
        topOptionSuffix = "was the most popular option.";
    }
    else
    {
        var topOptions = orderedOptionTotals
            .Where(t => t.Votes == @orderedOptionTotals[0].Votes)
            .Select(t => t.Option).ToList();
        topOptionString = $"{string.Join(", ", topOptions.Take(0..^1))} and {topOptions.ElementAt(^1)}";
        topOptionSuffix = "were the most popular options.";
    }
    
    #endregion
}

<h1>@ViewData["Title"]</h1>

<div class="d-flex align-items-center justify-content-between mb-3">
    <p class="display-5 text-muted">"@Model.Poll.Question"</p>
    <div>
        <button class="btn btn-outline-warning">Conclude</button>
        <a asp-page="./Delete" class="btn btn-outline-danger" asp-route-id="@Model.Poll.Id">Delete</a>
    </div>
</div>

<div class="d-flex justify-content-around mb-5">
    <div class="d-flex flex-column align-items-center py-4">
        <p class="display-3 text-info">@totalVotes</p>
        <p class="display-6">@(totalVotes == 1 ? "Vote" : "Votes")</p>
    </div>
    <div class="vr"></div>
    <div class="d-flex flex-column align-items-center py-4">
        <h2 class="display-3 text-info">@Model.Poll.ChannelPolls.Count</h2>
        <p class="display-6">@(Model.Poll.ChannelPolls.Count == 1 ? "Channel" : "Channels")</p>
    </div>
</div>

<div class="row mb-5">
    <div class="col-12 col-md-6">
        <p class="display-6 text-muted mb-3">Overview</p>
        <partial name="Shared/_PollData" model="Model.Poll"/>
    </div>
    <div class="col-12 col-md-6">
        <p class="display-6 text-muted mb-3">Channels</p>
        @foreach (var channel in Enum.GetValues<PollChannel>())
        {
            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="platform-telegram" checked="@(Model.Poll.ChannelPolls.Any(cp => cp.Channel == channel) ? "checked" : null)" disabled/>
                <label for="platform-telegram">@channel.ToString()</label>
            </div>
        }
    </div>
</div>

<div class="mb-5">
    <p class="display-6 text-muted mb-3">Live Results</p>
    <table class="table table-borderless table-hover">
        <thead>
        <tr>
            <th scope="col">Channel</th>
            @foreach (var option in optionTotals)
            {
                <th scope="col">@option.Option</th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach (var (channel, (pollResults, live, lastRefreshed)) in Model.Results)
        {
            <tr>
                <th scope="row">
                    @if (live)
                    {
                        <div class="spinner-grow spinner-grow-sm text-info me-2" role="status" title="This channel supports live updates. These results are current.">
                            <span class="visually-hidden">Live</span>
                        </div>
                    }
                    else if (lastRefreshed is not null)
                    {
                        <i class="bi bi-slash-circle-fill text-danger me-2" title="This channel does not support live updates. These results were last refreshed at @lastRefreshed."></i>
                    }
                    else
                    {
                        <i class="bi bi-slash-circle-fill text-danger me-2" title="This channel does not support live updates. These results may be up to 3 hours old."></i>
                    }

                    @channel
                </th>
                @foreach (var total in pollResults)
                {
                    <td>@total.Votes</td>
                }
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="mb-5">
    <p class="display-6 text-muted mb-3">Vote Analysis</p>
    <div class="row mb-5">
        <div class="col-12 col-md-6">
            <canvas id="optionsChart" width="400" height="400"></canvas>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center py-5">
            <p class="display-6 mx-auto text-center"><span class="text-info">@topOptionString</span> @topOptionSuffix</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-md-6 order-md-2">
            <canvas id="channelsChart" width="400" height="400"></canvas>
        </div>
        <div class="col-12 col-md-6 d-flex align-items-center py-5 order-md-1">
            <p class="display-6 mx-auto text-center"><span class="text-info">@topChannelString</span> @topChannelSuffix</p>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    const optionsChartCtx = document.getElementById('optionsChart').getContext('2d');
    const channelsChartCtx = document.getElementById('channelsChart').getContext('2d');
    
    const optionsChart = new Chart(optionsChartCtx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Serialize(optionTotals.Select(t => t.Option))),
            datasets: [{
                label: '# of votes per option',
                data: @Html.Raw(Json.Serialize(optionTotals.Select(t => t.Votes))),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        stepSize: 1    
                    }
                }
            }
        }
    });
    
    const channelsChart = new Chart(channelsChartCtx, {
         type: 'doughnut',
         data: {
             labels: @Html.Raw(Json.Serialize(channelTotals.Select(t => t.Channel))),
             datasets: [{
               label: '# of votes per channel',
               data: @Html.Raw(Json.Serialize(channelTotals.Select(t => t.Votes))),
               backgroundColor: [
                 'rgb(255, 99, 132)',
                 'rgb(54, 162, 235)'
               ],
               hoverOffset: 4
             }]
         },
    });
    </script>
}