@page
@model Web.Pages.Polls.Index

@{
    ViewData["Title"] = "Polls";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-primary" role="button">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Polls[0].Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Polls[0].Question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Polls[0].ChannelPolls)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Polls[0].StartedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Polls[0].EndedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Polls)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChannelPolls.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndedAt)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>